*{
  font-family: "Roboto Mono";
}
/*fondos*/
body{
  background: url("../img/fondo.png");
}
#fondo{
  background: url("../img/fondo2.png");
}

 p,h1,h2,h3,#texto{
  color: rgb(255, 255, 255);
}

.logo{
  margin: 1em;
  color: yellow; 
}

article{
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
}

section{
  color: rgb(255, 255, 255);
  padding: 0.5em;
  margin: 1em;
  background-color: rgba(65, 63, 58, 0.8);
  text-align: center;
}
#info{
  color:white;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  background-color: rgba(216, 185, 12, 0.5);
}
header p,.subtitulo{
  color: rgb(85, 4, 4);
}
.subseccion{
  background-color: rgba(199, 170, 8, 0.5);
}

#titulo,section h3{
  background-color: rgba(139, 0, 0, 0.8);
}

.importante,button{
  color: rgb(224, 204, 15);
  background-color: rgba(139, 0, 0, 0.8);

}
button{
  margin: 1.5em;
  padding: 0.3em;
}
#galeria{
  align-items: center;
  text-align: center;
  flex-direction: row;
  height: 450px;
  width: 600px;
}
/*funcionamiento de links*/
footer{
    padding: 0.3em;
    margin: 1.3em;
    background-color: rgba(65, 58, 58, 0.8);
}
footer li {
    list-style-type: none;
  }
  
  footer a:visited,
  footer a:active {
    background-color: rgb(185, 154, 13);
  }
  
  footer a:hover{
    background-color: rgb(199, 21, 21);
    color: black;
  }
  
  footer a {
    color: lightgray;
    text-decoration: none;
  }

#bienvenida{
    padding: 0.5em;
    margin: 1em;
    width: 500px;
    height: 500px;
}

#img{
  margin: 1em;
  width: 300px;
  height: 300px;
}

.img2{
  margin: 2em;
  width: 230px;
  height: 300px;
}

#lanzamiento{
  padding: 1em;
  margin: 1em;
  background-color: rgba(65, 63, 58, 0.8);
  align-items: center;
}

#video{
  background-color: rgba(139, 0, 0, 0.842);
}
/*formulario*/
aside{
  flex-direction: row;
  align-items: center;
  text-align: center;
}
form {
	background: rgb(139, 0, 0);
	border: 0.2em solid black;
	padding: 1em;
  margin: 1em;
  align-items: center;
  display: inline-flex;
}

fieldset {
	background: rgba(65, 63, 58, 0.8);
  padding: 1em;
  margin: 1em;
  align-items: center;
}

legend,label{
	color: rgb(230, 179, 13);
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.2em;
  margin: 0.2em;
}
